a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #7ebddf;
}

footer {
    background-color: #F01b33;
    font-size: .9em;
    margin-top: 4em;
    padding-bottom: 1.11em;
    padding-top: 1.11em;
}

.centered {
    text-align: center;
}

.navbar {
    background-color: #F01b33;
    padding: .5em;
}
.navbar .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar-nav li {
    padding: .5em;
    margin-left: .5em;
    margin-right: .5em;
}