@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #303030;
}

p{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif; 
    text-align: justify;
}

h1, h2, h3, h4, h5, h6{
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif; 
}

footer {
    background-color: #F01b33;
    font-size: .9em;
    margin-top: 4em;
    padding-bottom: 1.11em;
    padding-top: 1.11em;
}

footer h5{
    padding: 1em;
    margin: 0.5em;
    font-size: 1.2em;
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif; 
}

footer li{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
}

hr{
    border: 1px solid #303030;
    width: 250px;
    margin-bottom: 2.5em;
}

.footer-container form{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

form input{
    width: 100%;
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif; 
    background: none;
    color: black;
    border: 0;
    outline: none;
    font-size: 25px;
}

img.aboutme-img{
    margin-top: 2em;
    margin-left: 2em;
    padding-right: 0;
    width: 850px;
}

img.aboutme-img1{
    margin: 0 ;
    width: 890px;
}

img.logo{
    margin-left: 58.8em;
    width: 113px;
}

img.center{
    margin-left: 22em;
    width: 565px;
    height: 925px;
}

img.center2{
    margin-left: 22em;
    width: 1152px;
}

.career-p{
    margin-right: 20em;
    text-align: justify;
}

.career-p2{
    margin-left: 350px;
    margin-right: 20em;
    text-align: justify;
}

.aboutme-container p{
    font-size: 1.2em;
    text-align: justify;
    margin-right: 2.5em;
}

.article-image{
    margin-left: 0em;
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}

.article-aside-image{
    margin-left: 0em;
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.aside-para{
    margin-top: 5px;
    margin-bottom: 2.5em;
}

.article-title{
    margin-bottom: 7px;
}

.nomargin{
    margin: 0;
}

.article-heading{
    margin: 0.5em;
    padding: 0 1rem;
    font-size: 1.3em;
    font-weight: 200;
}

.button{
    background: none;
    border: none;
}

.button img{
    margin-top: 0em;
    width: 50px;
}

.main-container img{
    margin-top: 3em;
    height: 500px;
}

.footer-container p{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    margin-left: 5em;
}

.footer-container .col-4 img{
    width: 113px;
    margin-top: 3em;
    margin-left: 5em;
}

.footer-container .copyright{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2em;
    margin-left: 5em;
    color: #ffffff;
}

.footer-container ul li{
    list-style: none;
    margin-bottom: 12px;
}

.input, .msg .area{
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif; 
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 2px solid #F01b33;
    font-size: 1.5em;
    outline: none;
}

.login .input{
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login .input:last-child{
    margin-right: 0;
}

.msg .area{
    height: 200px;
}

.btn{
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif; 
    width: 150px;
    border: 0;
    background:#F01b33;
    font-size: 1em;
    height: 50px;
    color: #ffffff;
    margin: auto;
    margin-bottom: 5em;
    cursor: pointer;
}

.container-max{
    width: 100%;
    padding: 0 1rem;
    margin-left: 4em;

}

.container h1{
    text-align: center;
}

.container h3{
    text-align: center;
}

.container-max p{
    font-size: 1.1em;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.container-max h1{
    margin-top: 0;
}

.centered{
    text-align: center;
    font-size: 3em;
}

.career-title{
    text-align: center;
    margin: 1em;
}

.career-title2{
    margin-left: 350px;
}

.col-3 h5{
    margin-left: 0;
    padding-left: 0;
}

.rectangle{
    margin: 0;
}

.rectangle h2{
    color: #cecece;
    text-align: center;
    margin: 1.5em;
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif;
}

.rectangle img{
    margin-bottom: 1em;
    opacity: 0.6;
    transition: opacity .5s ease;
}

.rectangle img:hover{
    opacity: 1;
    color: #ffffff;
}

.main-container h1{
    font-weight:bold;
    font-size: 4em;
    text-align: center;
    padding-top: 1.9em;
    margin-bottom: 0.5em;
}

.main-container p{
    font-size: 1.1em;
    text-align: center;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: #F01b33;
    padding: .5em;
}

.navbar2{
    background-color: #F01b33;
    padding: .5em;
}

.navbar .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar2 .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-nav li {
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif;
    padding: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

.trophies {
    margin: auto;
    display:block;
    height: 250px;
}

.rectangle{
    background-color: #303030;
    padding-top: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.navbar-brand img{
    margin-left: 1em;
    width: 113px;
}

::placeholder{
    font-family: Work Sans, Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(0, 0, 0);
    opacity: 0.2;
}